/* Colors */
@theme {
  --color-*: initial;
  --color-primary: oklch(26.23% 0.0762 264.13);
  --color-secondary: oklch(39.46% 0.0854 265.59);
  --color-neutral: oklch(100% 0 0);
  --color-background: oklch(89.6% 0.054363 18.2158);
}

/* Typography */
@theme {
  --font-sans: 'Jost', sans-serif;
}

/* Breakpoints */
@theme static {
  /* The same as --breakpoint-md, --breakpoint-lg, --breakpoint-xl but vars are not allowed in media querys */
  --breakpoint-tablet: 48rem;
  --breakpoint-laptop: 64rem;
  --breakpoint-desktop: 80rem;
}
